<h2>Edit a model</h2>

<form method="put" action="http://159.89.148.4:8081/posts">
    <div class="col-sm-12">
        <label class="col-sm-3" for="id">ID</label>
        {{input type="text" name="id" value=post.id class="form-control col-sm-9" disabled="entryNotAllowed"}}
    </div>
    <div class="col-sm-12">
        <label class="col-sm-3" for="title">Title</label>
        {{input type="text" name="title" class="form-control col-sm-9" value=post.title}}
    </div>
    <div class="col-sm-12">
        <label class="col-sm-3" for="content">Content</label>
        {{textarea name="content" class="form-control col-sm-9" value=post.content}}
    </div>
    <div class="col-sm-12">
        <input type="submit" class="btn btn-success" value="Save" />
    </div>
</form>